@media only screen and (min-width: 769px) {
  .community-tablet {
    display: none;
  }
  .community-phone {
    display: none;
  }
}

@media only screen and (max-width: 768px) and (min-width: 400px) {
  .community-laptop {
    display: none;
  }
  .community-phone {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .community-tablet {
    display: none;
  }
  .community-laptop {
    display: none;
  }
  .searchMemberButton {
    font-size: 0.875rem;
    padding: 10px;
  }
}

@media only screen and (max-width: 1200px) {
  .searchMemberButton {
    font-size: 0.775rem;
  }
}
