.welcomeBanner {
  margin-top: 10px;
  padding-bottom: -40px;
  background-image: url(WelcomePage2.png);
  background-size: cover;
  height: 125px;
  width: 715px;
  margin-right: 70px;
  margin-left: -25px;
}

.rounded-divider {
  border-top: 5px solid #823bae;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.spacing {
  padding: 2%;
  display: flexbox;
}

.community {
  background-image: url(1.png);
  background-size: cover;
  height: 225px;
}
.speakers {
  background-image: url(2.png);
  background-size: cover;
  height: 225px;
}
.workspaces {
  background-image: url(4.png);
  background-size: cover;
  height: 225px;
}
.businesses {
  background-image: url(3.png);
  background-size: cover;
  height: 225px;
}

.text {
  display: inline-block;
  text-align: right;
}

.spacing-01 {
  padding: 27%;
  box-sizing: border-box;
}

.move {
  position: fixed;
  right: 10%;
  bottom: 17%;
}
