.options {
  border: 3px solid #f7fafc;
  box-shadow: 0 2px 4px #11111150;
  background-color: #f7fafc;
}

.registrationOptions {
  margin-bottom: 5px;
  padding: 5px;
}

@media only screen and (min-width: 769px) {
  .heightControl {
    height: 95px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 400px) {
  .heightControl {
    height: 120px;
  }
}

@media only screen and (max-width: 425px) {
  .heightControl {
    height: 60px;
  }
}

.footer {
  visibility: hidden;
}
