.popupAnimClose {
  height: 340px;
  width: 0px;
  margin-right: -3px;
  transition: 500ms;
}
.popupAnimOpen {
  height: 190px;
  width: 300px;
  transition: 500ms;
}

.popupAnimOpenFavorite {
  height: 340px;
  width: 300px;
  transition: 500ms;
}

.popupAnimFavorite {
  height: 340px;
  width: 0px;
  margin-right: -3px;
  transition: 500ms;
}

.chatButtonBox {
  cursor: pointer;
  margin-top: -4px;
  box-shadow: 0 2px 4px #11111150;
  padding: 0;
  border-radius: 100px 0 0 100px;
  background-color: #17c3ca;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  border-right: 0;
  color: #f7fafc;
  height: 75px;
}

.chatButtonBox:hover {
  box-shadow: 0 2px 12px #111111d0;
}

.favoriteButtonBox {
  cursor: pointer;
  margin-top: 3px;
  box-shadow: 0 2px 4px #11111150;
  padding: 0;
  border-radius: 100px 0 0 100px;
  background-color: #17c3ca;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  border-right: 0;
  color: #f7fafc;
  height: 75px;
}

.favoriteButtonBox:hover {
  box-shadow: 0 2px 12px #111111d0;
}

.buttonAnimClose {
  width: 75px;
  transition: 500ms;
}

.buttonAnimOpen {
  margin-left: -300px;
  width: 375px;
  transition: 500ms;
}

.closePopup {
  cursor: pointer;
  overflow: hidden;
  width: 35px;
  height: 33px;
  border-radius: 2px 0 0 0;
  border-right: 2px solid #d6f3f3;
  background-color: #d6f3f3;
}

.closePopup:hover {
  background-color: #bceef0;
  border-right: 0px;
}
.closePopupIcon {
  margin-top: -2px;
  margin-left: 3px;
  font-size: 35px;
  color: #111111d0;
}
.closePopupIcon:hover {
  color: #000;
}

.favoriteTitleBox {
  user-select: none;
  margin-top: -32px;
  height: 35px;
  text-align: center;
  border-bottom: 3px solid #bceef0;
}

.favoriteTitle {
  padding-top: 2px;
  margin-bottom: 2px;
  height: 33px;
  vertical-align: middle;
  color: #111111d0;
}

.favoriteOption {
  cursor: pointer;
  height: 75px;
  width: 100%;
  text-align: center;
  background-color: #d6f3f3;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
}
.favoriteOption:hover {
  background-color: #f7fafc;
}

.favoriteOption:nth-child(even) {
  border-bottom: 3px solid #f7fafc;
  border-top: 3px solid #f7fafc;
}
.favoriteOption:last-child {
  border-bottom: 0;
}

.favoriteOptionTitle {
  user-select: none;
  padding-top: 11px;
  font-size: 28px;
  font-weight: bold;
  color: #111111d0;
}

.popupReturn {
  margin-bottom: 3px;
  margin-top: -36px;
  margin-left: 262px;
  cursor: pointer;
  overflow: hidden;
  width: 35px;
  height: 33px;
  border-left: 2px solid #d6f3f3;
  background-color: #d6f3f3;
}

.popupReturn:hover {
  background-color: #bceef0;
  border-left: 2px solid transparent;
}
.popupReturnIcon {
  margin-top: 1px;
  margin-left: 3px;
  font-size: 28px;
  color: #111111d0;
}
.popupReturnIcon:hover {
  color: #000;
}

.tabListItem {
  background-color: #bdecee;
  border-bottom: 2px solid #f7fafc;
  height: 50px;
  width: 100%;
  transition: 250ms;
}

.tabListItem:hover {
  cursor: pointer;
  background-color: #f7fafc;
}

.tabListItemDetails {
  height: 98px;
  background-color: #f7fafc;
  width: 100%;
  transition: 250ms;
}

.tabListItemDetails:hover {
  cursor: pointer;
}

.tabProfileImageContainer {
  user-select: none;
  display: inline-block;
  width: 48px;
  height: 50px;
  border-right: 2px solid #f7fafc;
  border-bottom: 2px solid #f7fafc;
}

.tabProfileImage {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.tabNameContainer {
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  margin-left: 10px;

  height: 35px;
  display: inline-block;
  color: #111111d0;
}

.tabName {
  margin-top: 5px;
  margin-bottom: 0px;
}

.tabItemDetailsClose {
  margin-top: -2px;
  border-top: 2px solid #f7fafc;
  border-bottom: 2px solid #f7fafc;
  height: 0px;
  font-size: 0;
  background-color: #bceef0;
  overflow: hidden;
  transition: 50ms;
}

.tabItemDetailsOpen {
  font-size: inherit;
  margin-top: -2px;
  border-top: 2px solid #f7fafc;
  border-bottom: 2px solid #f7fafc;
  height: 50px;
  background-color: #bceef0;
  transition: 50ms;
}

.detailsDeleteContainer {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 150px;
  text-align: center;
  border: 2px solid #d6f3f3;
  background-color: #f7fafc;
  box-shadow: 0 4px 4px #11111140;
  border-top: 0px;
  border-radius: 0 0 5px 5px;
  transition: 250ms;
}

.detailsDeleteContainer:hover {
  box-shadow: 0 4px 4px #11111170;
  transition: 250ms;
}
.detailsDelete {
  user-select: none;
  padding-top: 8px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}
